html{
    font-size: 16px;
}


#logo img{
    width: 60px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    display: flex;
    display: inline-block;
    list-style: none;
    margin: 10px;
}


h1{
    font-size: 20px;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-bottom: 2rem;
    margin-block-start: 0.03em;
    margin-block-end: 0.03em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.filter{
    display: flex;
    margin: 0 1rem;
    border-radius: 1rem;
}

i{
    font-size: 1rem;
    padding: 0rem;
    color: #0065FC;
    border-radius: 1.5rem;
}

input {
    font-size: 1rem;
    border-radius: 1.5rem;
}


footer{
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

.hebergements {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 1.5rem;
}

.hebergements > div {
    padding: 1.5rem;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
}

.hebergements .hotels .vignettes .vignette {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}

.hebergements .hotels .vignettes .vignette img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
}

.vignette {
    padding: 0.25rem;
    background-color:white;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.vignettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}


.vignette img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.hebergements .populaires .vignettes .vignette {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 0.5rem;
}

.populaires .vignette img {
    display: grid;
    grid-template-columns: 3fr 7fr;
    max-width: 40%;
    grid-gap: 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
}


.activites {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 1.5rem;
}

.activites > div {
    padding: 1rem;
    background-color: white;
    border-radius: 1.5rem;
}

.activites .vignettesactivite .vignettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
} 

.activites .vignettesactivite .vignettes .vignette img {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 0.5rem;
}

